.uspon-main-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uspon
{
    display: flex;
    flex-direction: column-reverse;
    margin: 25px;

}
.uspon-info
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;

}
.uspon-image
{
    margin-left: 20px;
}
.usput-about
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-align: center;
    overflow:scroll;
    border-bottom: solid black 1px;
}
.abouth3
{
    align-self: center;
    text-align: center;
    margin-top: 20px ;
}