.home-usponi
{
    display: grid;
    
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    height: 70%;
    background-color: #E6E2c3;
}
.home-card
{
   
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    border-radius: 5px;
    color:#1c315e;

}
.regions
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.region-name
{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    border-radius: 5px;
    color:#1c315e;
}
.region-card
{
    background-color: white;
    
}
.home-part
{
 
    
}